# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
Build/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.zip

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Project/Assets/platform-builder-pro/Demo/meshes/Platform_3.obj.meta
Project/Assets/platform-builder-pro/Demo/meshes/Platform.obj.meta
Project/Assets/platform-builder-pro/Demo/meshes/Platform_4.obj.meta
Project/Assets/platform-builder-pro/Demo/meshes/Platform_2.obj.meta
